body {
    background-color: lightpink;
}

#div1 {
    border: 1px solid white;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px 150px;
}

.red {
    background-color: rgb(216, 99, 111);
}

.green {
    background-color: rgba(186,255,201);
}

.blue {
    background-color: rgb(186,225,255);
}

.yellow {
    background-color: rgb(255,255,186);
}

#div1 .red {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
}

#div1 .yellow {
    /* grid-row-start: -4;
    grid-row-end: -2 ; */
    grid-area: 3/1/5/2;
}