body{
	background-color: lightpink;
	color: brown;
}

h1{
	text-align: center;
	font-size: 50px;
	font-family: cursive;
}

#div1{
	/*border: 1px solid black;*/
	border-width:2px;
	border-style:dotted;
	border-top-style:solid;
	border-color:brown;
	border-bottom-color:pink;
	
	padding: 10px;
	box-shadow: inset 3px 3px 3px grey;
	/*padding: 5px 10px;*/
	/*padding: 10px 15px 5px;*/
	/*padding: 10px 9px 8px 7px;*/
	
	margin: 10px;
}

#div2 {
	width : 200px;
	height: 100px;
	background-color: grey;
	border: 1px solid black;
	box-shadow: 5px 5px 5px black;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	margin: auto;
}
	


	
	
	


















/*
color, opacity, background*, border*, 
box-shadow, box-sizing, margin*, padding*, overflow, display, float, z-index, rel,
width*, height*, top, bottom, left, right, position, line-height, text-align, verticalalign, textjustify, texttransform, font, font-family, font-size, font-style, textdecoration, list-style*, cursor, letter-spacing, viewport, white-space), és ezek segítségével képes elvégezni a megfelelő formázási műveleteket (a *-gal jelölt elemek 
több jellemzőt tartalmaznak, pl. margin-left, margin-right
*/